<meta charset="UTF-8">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Bungee+Shade&family=Doto:wght@100..900&family=Electrolize&family=Jaro:opsz@6..72&family=Kedebideri:wght@400;500;600;700;800;900&family=Monofett&family=New+Amsterdam&family=Silkscreen:wght@400;700&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/styles/style.css">
<title><%= pageTitle %></title>
