<% layout('layout') %>

<div class="buttonContainer">
    <a href="/projects" class="silkscreen-regular"><h2>Mes Projets</h2></a>
    <a href="/projects" class="silkscreen-regular"><h2>CV</h2></a>
    <a href="/projects" class="silkscreen-regular"><h2>Contact</h2></a>
</div>
