<% layout('layout') %>

<h1>Login</h1>
<form action='/login' method="POST">
    <label>Password : <textarea type="password" name="password" required></textarea></label><br>
	<button type="submit">Ajouter</button>
</form>
