<% layout('layout') %>

<h2>Mes Projets</h2>
<ul>
  <% projects.forEach(project => { %>
    <li>
      <a href="/projects/<%= project.title %>" style="background-image: url('<%= project.image %>');">
        <h2><%= project.title %></h2>
      </a>
    </li>
  <% }); %>
</ul>
